body {
  margin: 0;
  background-color: #0077B6;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.startPageDiv {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.gameSelectButton {
  border: 1px solid #023E8A;
  border-radius: 25px;
  background-color: #00B4D8;
  color: white;
  padding: 10px;
  width: 280px;
  font-size: 1.5rem;
  margin: 25px auto;
}