#chessGameBoard {
    width: min(480px, calc(100vw - 50px));
    aspect-ratio: 1;

    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 12.5%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.whiteSquare {
    background-color: #ADE8F4;
}

.darkBlue {
    background-color: #0096C7;
}

.blackPiece {
    color: #111;
    cursor: grab;
    z-index: 2;
}

.whitePiece {
    color: white;
    cursor: grab;
    filter:
        drop-shadow(1px 0 black)
        drop-shadow(-1px 0 black)
        drop-shadow(0 1px black)
        drop-shadow(0 -1px black);
        z-index: 2;
}

.blackPiece,
.whitePiece {
    font-size: clamp(24px, 7vw, 35px);
}

.activeSelect {
    background-color: #ffee32;
}

.lastMoveHighlight {
    background-color: #6db6fb;
}

.possibleMoveDot {
    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: rgba(0, 0, 0, 0.30);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1;
    pointer-events: none;
}

.captureHighlight {
   background-color: #FAA0A0;
}